body {
  background-color: lightgrey;
}

.cabecalho {
  padding: 10px;
  background-color: aquamarine;
}

.cabecalho .logo {
  display: inline-block;
}

.cabecalho nav {
  float: right;
}

.cabecalho nav li {
  display: inline-block;
  padding: 10px;
}

.cabecalho nav li a {
  font-size: 18px;
  color: darkblue;
}

@media (max-width: 576px) {
  .cabecalho {
    text-align: center;
  }

  .cabecalho nav {
    float: none;
  }

  .cabecalho nav li {
    display: block;
  }
}

main {
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  /* ----------------------------O que é o margin 0 auto?---------------------------- */
  /* -------------- 0: Indica que o marigin top e bottom será de 0px ---------------- */
  /* 
    Auto: Faz com que o elemento (main nesse caso) seja centralizado no meio da tela 
    (cortando a lateral no meio e dividindo para os dois lados com ele no meio delas.) 
  */

  max-width: 900px;
  min-width: 320px;
}

main .info {
  font-size: 18px;
}

main h1 {
  margin-bottom: 10px;
}

main p {
  margin-bottom: 7px;
  font-size: 16px;
}

.image img {
  width: 100%;
}

.anotacoes {
  background-image: url(images/quadro-branco.png);
  background-size: 100% 100%;
  /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  background-repeat: no-repeat;
  /* Evita a repetição da imagem */
  /* Outras propriedades de estilo, se necessário */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.folha-de-anotacao {
  position: relative;
}

.folinha {
  width: 17rem;
  height: 15rem;
  margin: 8px;
}

.texto-de-anotacao {
  max-width: 14rem;
  position: absolute;
  top: 4rem;
  left: 2rem;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: bold;
}
